<a
    class="transition-all duration-300 ease-in-out hover:scale-105 custom-shadow-pink
    border-2 border-gris dark:border-white py-2 p-8"
    href="https://drive.google.com/file/d/1uaAkdNiTYHtlx3AJQcZWWPZ69Hf36JZV/view?usp=drive_link"
    target="_blank"
    rel="nonopener noreferrer"
>
    DOWNLOAD CV
</a>