---
import { getI18N } from "../../i18n"
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })

---

<a
    class="transition-all duration-300 ease-in-out hover:scale-105 custom-shadow-pink
    border-2 border-gris dark:border-white py-2 p-8"
    href="https://drive.google.com/file/d/1uaAkdNiTYHtlx3AJQcZWWPZ69Hf36JZV/view?usp=drive_link"
    target="_blank"
    rel="nonopener noreferrer"
>
    {i18n.BUTTON.DOWNLOAD}

</a>