---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="border-2 p-2 dark:border-white text-black inline-flex items-center justify-center text-sm transition hover:scale-110 
  "
>
  <slot />
</a>
