---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="rounded-full text-black inline-flex items-center justify-center px-1 py-2 text-sm transition hover:scale-110 
  transition"
>
  <slot />
</a>
