<div class="flex items-center">
    <span class="relative inline-flex overflow-hidden p-[1px] shadow-md">
        <span
            class=""
                   
        ></span>
        <div
            class="inline-flex items-center justify-center w-full px-3 py-2 text-sm text-gray-700 bg-red-100 rounded-full cursor-pointer dark:bg-gray-900 dark:text-white/90 backdrop-blur-3xl whitespace-nowrap"
        >
            <slot />
        </div>
    </span>
</div>
