---
import ProfilePicture from "./ProfilePicture.astro";
import EmailIcon from "./icons/EmailIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import MapIcon from "./icons/MapIcon.astro";
import MobileIcon from "./icons/MobileIcon.astro";
import DownloadButton from "./buttons/DownloadButton.astro";
---


<div class="flex border-2 border-gris dark:border-white custom-shadow-dark mb-20 p-4">
    <div class="flex items-center">
      <a class="cursor-pointer">
        <img
          src="./pau_cv.webp"
          id="profile-picture"
          class="hidden md:block md:max-w-[250px] h-auto"
          alt="curriculum de paula pallares"
        />
      </a>
      <div class="m-5">
        <p class="descripcion-text text-wrap my-4">
          <span class=""
            >I am eager to connect and explore how we can thrive together.
            If you're looking for dedication and creativity, I invite you to reach out. Let’s discuss how I can contribute
            to your team’s success.
          </span>
        </p>
        <p>
          <span class=""
            >I'm currently working in :<br /></span
          >
          <span class="font-bold text-myPink">
            a GAME purely with Typescript and React.
          </span>
        </p>
        <p class="flex items-center my-2">
          <MobileIcon class="size-4 mr-1" />
          <a
            href="tel:+34613526623"
            class="text-sm hover:font-bold dark:text-gray-200 dark:hover:text-white transition-all duration-300 ease-in-out"
          >
            +34613526623</a
          >
        </p>
        <div class="flex items-center mb-2">
          <EmailIcon class="size-4 mr-1" />
          <a
            href="mailto:ppaupallares@gmail.com"
            class="text-sm hover:font-bold text-gray-900 dark:text-gray-200 dark:hover:text-white transition-all duration-300 ease-in-out"
          >
            ppaupallares@gmail.com</a
          >
        </div>
        <div class="flex items-center mb-5">
          <MapIcon class="size-4 mr-1" />
          <p class="text-sm dark:text-gray-200">
            Currently based in <span class="font-bold">Barcelona, Spain</span>
          </p>
        </div>
        <div class="flex justify-center m-5">
          <a class="cursor-pointer">
            <img
              src="./pau_cv.webp"
              id="profile-picture"
              class="md:hidden w-60 h-auto"
              alt="curriculum de paula pallares"
            />
          </a>
        </div>
        <div class="flex font-bold">
          <DownloadButton />
        </div>
      
      </div>
    </div>

  </div>
  
  <script is:inline>
    const image = document.getElementById("profile-picture");
  
    image.addEventListener("click", () => {
      if (!document.fullscreenElement) {
        image.requestFullscreen().catch((err) => {
          console.error(
            `Error al intentar activar el modo de pantalla completa: ${err.message}`,
          );
        });
      } else {
        document.exitFullscreen();
      }
    });
  </script>