---
import ProfilePicture from "./ProfilePicture.astro";
import EmailIcon from "./icons/EmailIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import MapIcon from "./icons/MapIcon.astro";
import MobileIcon from "./icons/MobileIcon.astro";
---

<div
    class="text-gray-800 dark:text-white pb-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
>
    <div class="lg:col-span-2">
        <p class="descripcion-text text-wrap mb-4 mr-4">
            <span class="dark:font-thin"
                >I am eager to connect and explore how we can thrive together.
                If you're looking for
            </span>
            <span class="font-bold dark:font-normal dark:text-white"
                >dedication and creativity,
            </span>
            <span class="dark:font-thin"
                >I invite you to reach out. Let’s discuss how I can contribute
                to your team’s success.</span
            >
        </p>
        <p class="flex items-center mb-2">
            <MobileIcon class="size-4 mr-1" />
            <a
                href="tel:+34613526623"
                class="text-sm text-gray-700 hover:text-black hover:font-bold dark:text-gray-200 dark:hover:text-white transition-all duration-300 ease-in-out"
            >
                +34613526623</a
            >
        </p>
        <div class="flex items-center mb-2">
            <EmailIcon class="size-4 mr-1" />
            <a
                href="mailto:ppaupallares@gmail.com"
                class="text-sm text-gray-700 hover:text-black hover:font-bold dark:text-gray-200 dark:hover:text-white transition-all duration-300 ease-in-out"
            >
                ppaupallares@gmail.com</a
            >
        </div>
        <div class="flex items-center mb-3">
            <MapIcon class="size-4 mr-1" />
            <p class="text-sm text-gray-900 dark:text-gray-200">
                Currently based in <span class="font-bold"
                    >Barcelona, Spain</span
                >
            </p>
        </div>
    </div>

    <div class="relative rounded-lg overflow-hidden h-auto">
        <iframe
            class="filter brightness-75"
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d43767.58831164122!2d2.1584291411023386!3d41.403284895462804!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1713024928579!5m2!1ses!2ses"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
        <div
            class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
            <ProfilePicture class="border border-white size-20" />
        </div>
    </div>
</div>
