---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'July 2023 - April 2024',
        school: 'freeCodeCamp',
        title: 'Full Stack Web Developer',
        description: 'This course offers a comprehensive curriculum designed to learn the skills needed to build complete web applications. The course covers front-end technologies including HTML, CSS, and JavaScript, as well as back-end development with Node.js and Express.  also learned about databases with MongoDB, and Git for version control. The course emphasizes practical, project-based learning.',
        link: "https://drive.google.com/file/d/1CwN9I1iuWur4IqDqhc9oMv43nLTriP4o/view?usp=drive_link",
        logo: "/logos/free_code_camp.jpeg",
    },
    {
        date: 'July 2023 - December 2023',
        school: 'HardvardX',
        title: 'CS50 Computer Science',
        description: 'Led by Professor David Malan, the course covered a broad range of topics including algorithms, data structures, encapsulation, resource management, security, software engineering, and web development. It introduced languages such as C, Python, SQL, JavaScript, CSS, and HTML. Emphasizing problem-solving, the course challenged me to think algorithmically and develop efficient code solutions.',
        link: "https://drive.google.com/file/d/1P9EOFT_Nef4XX35xnRXP0DxpKRCw-d6K/view?usp=drive_link",
        logo: "/logos/harvard.webp",
    },
    {
        date: 'June 2023 - September 2023',
        school: 'Coursera',
        title: 'IBM Data Engineer',
        description: ' The program covered key areas including data integration, building data warehouses, data lakes, big data processing using Hadoop and Spark, and automating data pipelines with Python and SQL. The course emphasized practical, hands-on learning with tools and technologies essential for managing large data sets effectively. It prepared me to design and maintain robust data systems, enabling efficient data collection, storage, and analysis processes.',
        link: "https://drive.google.com/file/d/1TFg0uQPCtCfGC9EipWDhb-n0iW2PLSEM/view?usp=drive_link",
        logo: "/logos/courseralearning_logo.jpeg",
    },
    {
        date: 'February 2023 - July 2023',
        school: 'SoyHenry',
        title: 'Data Science',
        description: 'An intensive 900-hour Data Science bootcamp. The program was designed in collaboration with industry experts, providing a deep dive into the full data lifecycle, including data analysis, engineering, and science with a focus on real-world applications. Key skills developed:  Python, working with large datasets, and implementing machine learning algorithms.',
        link: "https://drive.google.com/file/d/1zVGTMlklAiVa0LwTCqiw-Ip4LzxAipOC/view?usp=drive_link",
        logo: "/logos/henryok_logo.jpeg",
    },
]
---

<ol class="relative border-s border-gray-300 dark:border-gray-700">                  
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
        ))
    }
</ol>

