---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Abril 2024',
        school: 'freeCodeCamp',
        title: 'Full Stack Web Developer',
        description: 'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
        link: "#"
    },
    {
        date: 'December 2023',
        school: 'HardvardX',
        title: 'CS50 Computer Science',
        description: 'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
        link: "#"
    },
    {
        date: 'September 2023',
        school: 'Coursera',
        title: 'IBM Data Engineer',
        description: 'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
        link: "#"
    },
    {
        date: 'July 2023',
        school: 'SoyHenry',
        title: 'Data Science',
        description: 'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
        link: "#"
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
        ))
    }
</ol>

