---
import SocialButtons from "./SocialButtons.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import XIcon from "./icons/XIcon.astro";

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer class="md:px-10 lg:px-20 bg-light dark:bg-gris w-full">
  <div class="flex justify-between items-center p-4">
    <span class="text-sm text-gris dark:text-white"
      >©2024 {i18n.FOOTER.SIGN}
      <span class="font-bold">ssajua ©</span>
    </span>
    <ul class="flex items-center mt-3 sm:mt-0 gap-x-2">
      <li>
        <a
          class="flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-110"
          href="https://github.com/ssanjua"
          target="_blank"
          rel="nonopener noreferrer"
          aria-label="button"
        >
          <GitHubIcon class="size-6" />
        </a>
      </li>
      <li>
        <a
          class="flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-110"
          href="https://www.linkedin.com/in/paupallares/"
          target="_blank"
          rel="nonopener noreferrer"
          aria-label="button"
        >
          <LinkedinIcon class="size-6" />
        </a>
      </li>
      <li>
        <a
          class="flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-110"
          href="https://twitter.com/pupipallares"
          target="_blank"
          rel="nonopener noreferrer"
          aria-label="button"
        >
          <XIcon class="size-6" />
        </a>
      </li>
      <li>
        <a
          class="flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-110"
          href="https://www.instagram.com/ppupipallares/"
          target="_blank"
          rel="nonopener noreferrer"
          aria-label="button"
        >
          <InstagramIcon class="size-6" />
        </a>
      </li>
    </ul>
  </div>
</footer>
