---
import SocialButtons from "./SocialButtons.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import XIcon from "./icons/XIcon.astro";
---

<footer
    class="md:px-10 lg:px-20 bg-light dark:bg-background-dark w-full"
>
    <div
        class="flex items-center justify-between p-2"
    >
        <span
            class="text-sm text-gris dark:text-white"
            >made with ❤️ by <span class="font-bold">ssajua ©</span> - 2024
        </span>
        <ul class="flex flex-wrap items-center mt-3 md:gap-x-2 sm:mt-0">
            <li>
                <SocialButtons href="https://github.com/ssanjua">
                    <GitHubIcon class="size-6" />
                </SocialButtons>
            </li>
            <li>
                <SocialButtons href="https://www.linkedin.com/in/paupallares/">
                    <LinkedinIcon class="size-6" />
                </SocialButtons>
            </li>
            <li>
                <SocialButtons href="https://twitter.com/pupipallares">
                    <XIcon class="size-6" />
                </SocialButtons>
            </li>
            <li>
                <SocialButtons href="https://www.instagram.com/ppupipallares/">
                    <InstagramIcon class="size-6" />
                </SocialButtons>
            </li>
        </ul>
    </div>
</footer>
