<header class="flex justify-between items-center py-3 w-[1100px]">
    <img
        class="rounded-full w-12 h-12" 
        src="https://avatars.githubusercontent.com/u/122236110?v=4" alt="ssanjua profile picture" />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About me</a>
        <a href="/tech">Tech</a>
        <a href="/projects">Projects</a>
        <a href="/education">Education</a>
        <a href="/contact">Contact me</a>
    </nav>

</header>