<header class="flex justify-between">
    <img src="" alt="ssanjua profile picture" />

    <nav>
        <a href="/">Home</a>
        <a href="/about">About me</a>
        <a href="/tech">Tech</a>
        <a href="/projects">Projects</a>
        <a href="/education">Education</a>
        <a href="/contact">Contact me</a>
        
    </nav>

</header>