---
import LanguageSwitch from "./LanguageSwitch.astro";
import ThemeToggle from "./ThemeToggle.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="fixed top-0 left-0 w-full z-50 py-4 bg-background-light dark:bg-background-dark transition-all duration-300 ease-in-out on-scroll border-background-dark dark:border-white"
>
  <div
    class="flex justify-center md:justify-between items-center mx-auto md:mx-6 lg:mx-16 md:px-6 lg:px-15 descripcion-text-header"
  >
    <div>
      <nav
        class="flex dark:text-white items-center flex-row gap-x-2 md:gap-x-4 lg:gap-x-6"
      >
        <a href="#top">
          <!-- <ProfilePicture class="border-2 border-pink hidden md:block md:size-14 shadow-md" /> -->
          <img
            class="size-12 hidden md:block"
            src="/favicon.webp"
            alt="profile-picture-ssanjua"
          />
        </a>
        <a
          class="font-bold hover:bg-yellow hover:text-white dark:hover:text-background-dark px-2 md:px-4 py-2"
          href="#projects">{t("nav.proj")}</a
        >

        <a
          class="font-bold hover:bg-blue hover:text-white dark:hover:text-background-dark px-2 md:px-4 py-2"
          href="#education">{t("nav.edu")}</a
        >
        <!-- <a
        class="font-bold hidden md:block hover:bg-orange hover:text-white dark:hover:text-background-dark px-2 md:px-4 py-2"
        href="#tech">{t("nav.tech")}</a
      > -->
        <a
          class="font-bold hover:bg-green hover:text-white dark:hover:text-background-dark px-2 md:px-4 py-2"
          href="#contact">{t("nav.contact")}</a
        >
      </nav>
    </div>
    <div class="flex gap-3 md:gap-4 ml-2 md:ml-0">
      <ThemeToggle />
      <LanguageSwitch />
    </div>
  </div>
</header>

<script is:inline>
  document.addEventListener("scroll", function () {
    const header = document.querySelector("header");
    if (window.scrollY > 20) {
      // Ajusta el '10' a la cantidad de px que prefieras antes de cambiar el estilo
      header.classList.add("on-scroll");
    } else {
      header.classList.remove("on-scroll");
    }
  });
</script>
