---
import ProfilePicture from "./ProfilePicture.astro";
---

<header class="fixed top-0 left-0 w-full z-50 bg-opacity-90 bg-black py-3">
    <div class="flex justify-between items-center max-w-[850px] mx-auto px-4">
        <a href="#top">
            <ProfilePicture class="size-10" />
        </a>

        <nav class="flex flex-row text-sm gap-x-2 md:gap-x-4 lg:gap-x-6">
            <a
                class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300"
                href="#top">Home</a
            >
            <a
                class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300"
                href="#tech">Tech</a
            >
            <a
                class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300"
                href="#projects">Projects</a
            >
            <a
                class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300"
                href="#education">Education</a
            >

            <a
                class="hover:bg-white/10 px-2 md:px-4 py-2 rounded-full border border-white/50 transition-colors duration-300"
                href="#contact">Contact me</a
            >
        </nav>
    </div>
</header>
