<header class="flex justify-between items-center py-5 w-[850px] xl:w-[850px] mx-auto">
    <img
        class="rounded-full size-12" 
        src="https://avatars.githubusercontent.com/u/122236110?v=4" alt="ssanjua profile picture" />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#tech">Tech</a>
        <a href="#projects">Projects</a>
        <a href="#education">Education</a>
        <a href="#contact">Contact me</a>
    </nav>

</header>