<header class="fixed top-0 left-0 w-full z-50 bg-opacity-90 bg-black py-3">
    <div class="flex justify-between items-center max-w-[850px] mx-auto px-4">
        <img
            class="rounded-full size-10 transition-transform duration-300 hover:scale-105 shadow-sm hover:shadow-md"
            src="https://avatars.githubusercontent.com/u/122236110?v=4"
            alt="ssanjua profile picture"
        />

        <nav
            class="flex flex-row text-sm md:gap-x-5 lg:gap-x-8"
        >
            <a
            class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300"
                href="#top">Home</a
            >
            <a class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300" href="#tech">Tech</a>
            <a class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300" href="#projects">Projects</a>
            <a class="text-white/80 hover:text-white px-2 md:px-4 py-2 rounded-full transition-colors duration-300" href="#education">Education</a>
            <a class="hover:bg-white/10 px-2 md:px-4 py-2 rounded-full border border-white/50 transition-colors duration-300" href="#contact">Contact me</a>
        </nav>
    </div>
</header>