---
import Badge from "./Badge.astro";
import ProfileGif from "./ProfileGif.astro";
import ProfilePicture from "./ProfilePicture.astro";
import SectionContainer from "./SectionContainer.astro";
import SocialButtons from "./SocialButtons.astro";
import SocialContact from "./SocialContact.astro";
import CopyButton from "./buttons/CopyButton.astro";
import DownloadIcon from "./icons/DownloadIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import XIcon from "./icons/XIcon.astro";
---

<SectionContainer class="py-44 pb-24">
    <div class="flex flex-row mb-4">
        <div class="flex flex-col gap-5">
            <h3
                class="text-gray-800 dark:text-white text-6xl font-bold gap-x-4 flex items-center"
            >
                SSANJUA
                <a
                    href="https://linkedin.com/in/paupallares"
                    target="_blank"
                    rel="nonopener"
                    class="flex items-center transition duration-300 ease-in-out md:justify-center hover:scale-105"
                >
                    <Badge>Full Stack Developer</Badge>
                </a>
            </h3>
            <h2 class="descripcion-text max-w-[700px] text-pretty">
                <span class="font-bold dark:font-semibold dark:text-white"
                    >Hi! I'm Paula,</span
                >
                <span class="dark:font-thin"
                    >also known as ssanjua. Passionate about technology and
                    committed to creating products that make a difference, my
                    experience in the multimedia sector has shaped me in
                    leadership and collaborative work. Specialized in
                    technologies such as</span
                >
                <span class="font-bold dark:font-semibold dark:text-white"
                    >JavaScript, React, Node.js, and SQL/NoSQL databases,</span
                >
                <span class="dark:font-thin"
                    >my projects include applications like</span
                >
                <span class="dark:text-white font-bold dark:font-semibold"
                    >Bookeando and YarcoDelivery,</span
                >
                <span class="dark:font-thin"
                    >covering both backend and frontend. My colleagues highlight
                    my technical skills as well as my</span
                >
                <span class="dark:text-white font-bold dark:font-semibold"
                    >creative thinking and problem-solving abilities.</span
                >
            </h2>
        </div>
        <ProfileGif class="hidden md:flex md:items-center md:justify-center size-52 mt-10" />
    </div>
    <div class="hidden md:flex flex-col md:flex-row md:justify-between mt-4">
        <nav class="flex justify-start gap-4 py-4 flex-gap">
            <CopyButton />
            <!-- <SocialContact href="mailto:ppaupallares@gmail.com">
                <span>CONTACT</span>
            </SocialContact> -->
            <SocialContact
                href="https://drive.google.com/file/d/1me7-_HcOuj8stwOJCg11MWzkd-nwmm2-/view?usp=sharing"
            >
                <DownloadIcon class="size-6" />
                <span>CV</span>
            </SocialContact>
        </nav>
        <nav class="flex gap-x-2 py-4">
            <SocialButtons href="https://github.com/ssanjua">
                <GitHubIcon class="text-black size-6" />
            </SocialButtons>
            <SocialButtons href="https://www.linkedin.com/in/paupallares/">
                <LinkedinIcon class="size-6" />
            </SocialButtons>
            <SocialButtons href="https://twitter.com/pupipallares">
                <XIcon class="size-6" />
            </SocialButtons>
            <SocialButtons href="https://www.instagram.com/ppupipallares/">
                <InstagramIcon class="size-6" />
            </SocialButtons>
        </nav>
    </div>

    <div class="md:hidden flex items-center justify-start mt-6">
        <ProfileGif class="size-32" />
        <div class="pl-4">
            <CopyButton />
            <nav class="flex gap-1 pt-2">
                <SocialContact
                    href="https://drive.google.com/file/d/1me7-_HcOuj8stwOJCg11MWzkd-nwmm2-/view?usp=sharing"
                >
                    <DownloadIcon class="size-4" />
                    <span>CV</span>
                </SocialContact>
            </nav>
            <nav class="flex gap-x-2 py-2">
                <SocialButtons href="https://github.com/ssanjua">
                    <GitHubIcon class="text-black dark:text-black size-6" />
                </SocialButtons>
                <SocialButtons href="https://www.linkedin.com/in/paupallares/">
                    <LinkedinIcon class="size-6" />
                </SocialButtons>
                <SocialButtons href="https://twitter.com/pupipallares">
                    <XIcon class="size-6" />
                </SocialButtons>
                <SocialButtons href="https://www.instagram.com/ppupipallares/">
                    <InstagramIcon class="size-6" />
                </SocialButtons>
            </nav>
        </div>
    </div>
</SectionContainer>
