---
import EnglishIcon from "./icons/EnglishIcon.astro";
import ItaliaIcon from "./icons/ItaliaIcon.astro";
import SpainIcon from "./icons/SpainIcon.astro";
---

<div class="relative group">
    <a
        class="flex items-center rounded-full text-gray-700 hover:text-gray-600 hover:bg-gray-100 hover:font-bold dark:text-white/80 dark:hover:text-white dark:hover:bg-white/20 px-2 md:px-4 py-2 transition-all duration-300 ease-in-out"
    >
        <EnglishIcon class="size-3 mr-2"/>EN</a
    >
</div>
