---

import { languages } from "../i18n/ui"
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils.ts"

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)


import EnglishIcon from "../components/icons/EnglishIcon.astro"
import SpainIcon from "../components/icons/SpainIcon.astro"

---

<div>
  {
    Object.entries(languages).map(([langPrefix, langName]) => {
      if (langPrefix == lang) return <></>
      return (
        <a
          href={translatePath("/", langPrefix)}
          class="border text-sm border-background-dark hover:bg-background-dark hover:text-white dark:border-white dark:hover:bg-white dark:hover:text-background-dark p-2 custom-shadow-pink hover:scale-105 flex items-center"
        >
          {langPrefix === 'en' 
            ? <EnglishIcon class="size-5" /> 
            : <SpainIcon class="size-5" />
          }
          <span class="hidden md:block ml-2">{langName}</span>
        </a>
      )
    })
  }
</div>
