---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex font-bold items-center text-white/70 dark:text-white/70 transition hover:scale-105 hover:text-white/90"
>
  <slot />
</a>
