---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="rounded-full inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-sm transition bg-white/10 hover:scale-105 hover:bg-white/15 transition"
>
  <slot />
</a>
