---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="rounded-full inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 min-h-[42px] text-sm text-white transition bg-white/10 border border-white/20 hover:scale-110 hover:bg-white/20  
  transition"
>
  <slot />
</a>
