---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 hover:scale-105 transition text-xs
        border dark:border-white border-background-dark px-3 py-2 shadow-custom-dark dark:shadow-custom-white"
  aria-label="button"
>
  <slot />
</a>
