---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="rounded-full inline-flex items-center border justify-center shadow-md gap-2 px-3 py-2 space-x-2 text-sm transition hover:scale-105 transition
  hover:bg-white/15 bg-white/80 border border-gray-200
  dark:hover:bg-white/15 dark:bg-white/10 dark:border-gray-700"
>
  <slot />
</a>
