---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 p-1 text-sm hover:scale-105 transition
        
        dark:hover:bg-white dark:hover:text-black
        hover:bg-lightgray hover:text-white"
>
  <slot />
</a>
