---
import LinkButton from "./LinkButton.astro";
import ViteIcon from "./icons/ViteIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import Link from "./icons/Link.astro";


export const TAGS = {
  REACT: {
    name: "Astro",
    class: "dark:bg-gray-800 bg-gray-300",
    icon: AstroIcon,
  },
  TYPESCRIPT: {
    name: "Tailwind",
    class: "dark:bg-gray-800 bg-gray-300",
    icon: TailwindIcon,
  },
  VITE: {
    name: "Vite",
    class: "dark:bg-gray-800 bg-gray-300",
    icon: ViteIcon,
  },
}

import { getI18N } from "../i18n"
import AstroIcon from "./icons/AstroIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })

---
 
<div class="flex flex-col md:flex-row p-10 md:p-12 justify-center items-center rounded-md bg-light dark:bg-gris overflow-auto">
  <img
    class="w-1/2 object-cover transition-all duration-300 ease-out hover:scale-105"
    src="/projects/ss_linktree.webp"
    alt="ssanjua linktree web"
  />
  <div class="ml-0 md:ml-4 flex-grow">
    <p class="mt-2 mb-4">
      <span class="descripcion-text-noline text-xl font-bold">
        linktree</span>
    </p>
    <div class="flex items-center my-4 gap-1">
      <img class="size-6 mr-2" alt="linktree favicon" src="/logos/favicon_linktree.webp" />
      <a
        class="transition-all ease-out font-semibold hover:underline hover:font-bold"
        href="https://ss-link.vercel.app/"
        target="_blank"
        >ss-link.app
      </a>
    </div>
    <div class="flex flex-wrap justity-center items-center gap-2 py-2">
      {
        Object.entries(TAGS).map(([key, tag]) => (
          <span class={`inline-block text-xs py-2 px-3 text-background-dark dark:text-white ${tag.class}`}>
            <tag.icon class="inline-block size-3.5" />
            {tag.name}
          </span>
        ))
      }
    </div>
    <footer class="flex items-end justify-center md:justify-start mt-4 gap-x-4">
      <LinkButton href="https://github.com/ssanjua/ssanjua-linktree">
        <GitHubIcon class="size-4" /> Repo
      </LinkButton>   
      <LinkButton href="https://ss-link.vercel.app/">
        <Link class="size-4" /> Web
      </LinkButton>
    </footer>
  </div>
</div>
