<a
    class="rounded-full flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-110 size-10 
    bg-white/80 border border-gray-200 hover:bg-white/80 shadow-md
    dark:bg-white/80 dark:border-none hover:dark:bg-white/90"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
>
    <slot />
</a>
