<a 
    class="rounded-full bg-white/90 border 
    border-white/90 flex justify-center items-center 
    hover:scale-110 hover:bg-white/80  
    transition
    p-2
    "
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
    >
    <slot />
</a>