<a
    class="flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-110 size-12"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
>
    <slot />
</a>