<a
    class="rounded-full bg-white/15 flex justify-center items-center gap-2 px-6 py-1 hover:scale-110 hover:bg-white/20 transition"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
>
    <slot />
</a>