<a 
    class="rounded-full bg-white border border-white/50 flex justify-center items-center  p-2"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
    >
    <slot />
</a>