<a
    class="flex rounded-full font-semibold border justify-center items-center gap-2 px-3 md:px-6 h-10 hover:scale-105 transition
            bg-white/80 border-gray-200 hover:bg-white shadow-md
            dark:bg-white/10 dark:text-white dark:border-white/20 hover:dark:bg-white/15"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
>
    <slot />
</a>
