<a 
    class="rounded-full p-2 bg-white border border-white/10 flex justify-center items-center hover:scale-110 hover:bg-white/90 transition"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
    >
    <slot />
</a>