<a 
    class="rounded-full border bg-white/10 border-white/20 flex justify-center items-center gap-2 px-4 py-1 w-40 h-12 hover:scale-110 hover:bg-white/20 transition"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
    >
    <slot />
</a>