<a
    class="rounded-full bg-white/15 flex justify-center items-center gap-2 px-3 md:px-6 h-10 hover:scale-105 hover:bg-white/20 transition"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
>
    <slot />
</a>