---
import NextjsIcon from "./icons/NextjsIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import NodeJsIcon from "./icons/NodeJsIcon.astro";
import MongoDBIcon from "./icons/MongoDBIcon.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import AstroIcon from '../components/icons/AstroIcon.astro';
import HtmlIcon from '../components/icons/HtmlIcon.astro';
import CssIcon from '../components/icons/CssIcon.astro';
import GitIcon from '../components/icons/GitIcon.astro';
import GitHubIcon from '../components/icons/GitHubIconFull.astro';


const TAGS = [
    {
        name: "JavaScript",
        icon: JavaScriptIcon,
    },
    {
        name: "Python",
        icon: PythonIcon,
    },
    {
        name: "TypeScript",
        icon: TypeScriptIcon,
    },
    {
        name: "HTML",
        icon: HtmlIcon,
    },
    {
        name: "CSS",
        icon: CssIcon,
    },
    
    {
        name: "TailwindCSS",
        icon: TailwindIcon,
    },
    {
        name: "React",
        icon: ReactIcon,
    },
    {
        name: "Astro",
        icon: AstroIcon,
    },
    {
        name: "Next",
        icon: NextjsIcon,
    },
    {
        name: "Node",
        icon: NodeJsIcon,
    },
    {
        name: "MongoDB",
        icon: MongoDBIcon,
    },
    {
        name: "PostgreSQL",
        icon: MySQLIcon,
    },
    {
        name: "Git",
        icon: GitIcon,
    },
    {
        name: "GitHub",
        icon: GitHubIcon,
    },
    
];
---

    <div  id="tech" class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-7 gap-3 md:gap-4 lg:gap-6 max-w-6xl mx-auto">
        {
            TAGS.map(({ name, icon: Icon }) => (
                <div class="flex flex-col items-center justify-center text-center p-4 transition-all duration-100 ease-out hover:scale-105
                            border-2 border-background-dark bg-background-light
                            dark:border-white custom-shadow-sm dark:bg-background-dark dark:hover:text-black dark:hover:bg-white
                            hover:bg-background-dark hover:text-white"
                >
                    <div class="mb-3 transition-all duration-300 hover:scale-110">
                        <Icon class="size-10" />
                    </div>
                    <span class="text-base font-bold">
                        {name}
                    </span>
                </div>
            ))
        }
    </div>



