---
import ReactIcon from "./icons/ReactIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import ViteIcon from "./icons/ViteIcon.astro";

export const TAGS = {
  REACT: {
    name: "React",
    class: "dark:bg-gray-800 bg-gray-300",
    icon: ReactIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "dark:bg-gray-800 bg-gray-300",
    icon: TypeScriptIcon,
  },
  VITE: {
    name: "Vite",
    class: "dark:bg-gray-800 bg-gray-300",
    icon: ViteIcon,
  },
}

import { getI18N } from "../i18n"
import LinkButton from "./LinkButton.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import Link from "./icons/Link.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })

---

<div class="flex flex-col">
  <div>
    <img
      class="w-full max-6xl object-cover transition-all duration-300 ease-out hover:scale-105"
      src="/projects/oG-ssanjuaTerminal_v2.webp"
      alt="ssanjua terminal portfolio"
    />
  </div>
  <div class="">
    <div class="flex items-center my-4 gap-1">
      <img class="size-6 mr-2" alt="terminal favicon" src="/logos/favicon_terminal.webp" />
      <a
        class="transition-all ease-out font-semibold hover:underline hover:font-bold"
        href="https://ssanjuaterminal.vercel.app/"
        target="_blank"
        >ssanjua-terminal.com
      </a>
    </div>
    <div class="flex flex-wrap justity-center items-center gap-2 py-2">
      {
        Object.entries(TAGS).map(([key, tag]) => (
          <span class={`inline-block text-xs py-2 px-3 text-background-dark dark:text-white ${tag.class}`}>
            <tag.icon class="inline-block size-3.5" />
            {tag.name}
          </span>
        ))
      }
    </div>
    <footer class="flex items-end justify-center md:justify-start mt-4 gap-x-4">
      <LinkButton href="https://github.com/ssanjua/ssanjua-terminal">
        <GitHubIcon class="size-4" /> Repo
      </LinkButton>   
      <LinkButton href="https://ssanjuaterminal.vercel.app/">
        <Link class="size-4" /> Web
      </LinkButton>
    </footer>
  </div>
</div>
