---
import ReactIcon from "./icons/ReactIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import ViteIcon from "./icons/ViteIcon.astro";


export const TAGS = {
  REACT: {
    name: "React",
    class: "border-2 border-blue",
    icon: ReactIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "border-2 border-sky-600",
    icon: TypeScriptIcon,
  },
  VITE: {
    name: "Vite",
    class: "border-2 border-purple",
    icon: ViteIcon,
  },
}

import { getI18N } from "../i18n"
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })

---

<div class="flex py-4 justify-center items-center">
  <a
    target="_blank"
    class="cursor-pointer"
    href="https://ssanjuaterminal.vercel.app/"
  >
    <img
      class="w-52 object-cover transition-all duration-300 ease-out hover:scale-105"
      src="/projects/ssanjua_terminal_ipad.webp"
      alt="ssanjua terminal portfolio"
    />
  </a>
  <div class="ml-4">
    <p class="font-semibold">
      {i18n.TERMINAL.CHECK}
    </p>
    <p class="mt-2 mb-12">
      <span class="descripcion-text-noline p-1 text-xl bg-yellow custom-shadow-sm font-semibold hover:text-white text-black dark:hover:text-white">
        >_terminal</span>
    </p>
    <div class="flex items-center my-4 gap-1">
      <img class="size-6 mr-2" alt="terminal favicon" src="/logos/favicon_terminal.webp" />
      <a
        class="transition-all ease-out font-semibold hover:underline hover:font-bold"
        href="https://ssanjuaterminal.vercel.app/"
        target="_blank"
        >ssanjuaterminal.com
      </a>
    </div>
    <div class="flex flex-wrap items-center gap-2 py-2">
      {
        Object.entries(TAGS).map(([key, tag]) => (
          <span class={`inline-block text-xs py-2 px-3 text-background-dark dark:text-white ${tag.class}`}>
            <tag.icon class="inline-block size-3.5" />
            {tag.name}
          </span>
        ))
      }
    </div>
  </div>
  
</div>
