---
import Header from "../components/Header.astro";
import "@fontsource-variable/martian-mono";
import "@fontsource-variable/noto-sans";
import Footer from "../components/Footer.astro";
// font-family: 'Noto Sans Variable', sans-serif;


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			if (
				localStorage.getItem("color-theme") === "dark" ||
				(!("color-theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
		
	</head>
	<body class="relative text-black dark:text-white/85">
		<div class="fixed top-0 -z-10 h-full w-full bg-white dark:hidden">
			<div
				class="absolute bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-[rgba(173,109,244,0.5)] opacity-50 blur-[80px]"
			>
			</div>
		</div>

		<!-- Fondo para tema oscuro -->
		<div
			class="hidden dark:block dark:fixed dark:top-0 dark:z-[-1] h-full w-full bg-black"
		>
			<div
				class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(0,0,0,0.5))]"
			>
			</div>
			<div
				class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(0,0,0,0.5))]"
			>
			</div>
		</div>
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
	<div class="mx-auto max-w-[850px] px-4">
		<Header />
		<slot />
		<Footer />
	</div>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Noto Sans Variable", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
	}

	.descripcion-text {
		font-family: "Martian Mono Variable", monospace;
		font-size: 14px;
		line-height: 1.6;
	}

	.on-scroll {
		@apply bg-white/80 dark:bg-black/80 backdrop-blur;
	}

	@media (prefers-color-scheme: dark) {
		body {
			color: rgba(255, 255, 255, 0.9);
		}
	}

	@media screen (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
