---
import Header from "../components/Header.astro";
import "@fontsource-variable/martian-mono";
import "@fontsource-variable/noto-sans";
import Footer from "../components/Footer.astro";
// font-family: 'Noto Sans Variable', sans-serif;

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="relative h-full w-full bg-slate-950">
			<div
				class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
			>
			</div>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Noto Sans Variable", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background-color: black;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
	}

	.descripcion-text {
		font-family: "Martian Mono Variable", monospace;
		font-size: 14px;
		line-height: 1.6;
	}

	@media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
    }

	@media screen (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
