---
import Header from "../components/Header.astro"
import "@fontsource-variable/martian-mono"
import "@fontsource-variable/noto-sans"
import "@fontsource/press-start-2p"
import Footer from "../components/Footer.astro"
// font-family: 'Noto Sans Variable', sans-serif

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
const { currentLocale } = Astro

---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="webp" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			if (!localStorage.getItem("color-theme")) {
				document.documentElement.classList.add("dark");
				localStorage.setItem("color-theme", "dark");
			} else if (localStorage.getItem("color-theme") === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body class="relative bg-white dark:bg-background-dark text-black dark:text-white/95">
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>

		<div class="">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Noto Sans Variable", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
	}

	.descripcion-text {
		font-family: "Martian Mono Variable", monospace;
		font-size: 14px;
		line-height: 1.5;
	}

	.descripcion-text-header {
		font-family: "Martian Mono Variable", monospace;
		font-size: 12px;
		line-height: 1.5;
	}

	.descripcion-text-noline {
		font-family: "Martian Mono Variable", monospace;
	}

	.on-scroll {
		@apply bg-background-light/90 dark:bg-background-dark/90;
	}

	.custom-shadow-sm {
		box-shadow: 2px 2px 0px 0px rgb(19, 19, 19);
	}

	.custom-shadow-ex {
		box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 1);
	}

	.custom-shadow-small {
		box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1);
	}

	.custom-shadow-pink {
		box-shadow: 4px 4px 0px 0px #e54980;
	}

	.custom-shadow-yellow {
		box-shadow: 4px 4px 0px 0px rgba(254, 205, 35, 1);
	}

	.custom-shadow-blue {
		box-shadow: 4px 4px 0px 0px #0a6789;
	}

	.custom-shadow-red {
		box-shadow: 4px 4px 0px 0px #cf0638;
	}

	.custom-shadow-dark {
		box-shadow: 4px 4px 0px 0px #33332d;
	}

	@media (prefers-color-scheme: dark) {
		body {
			color: rgba(255, 255, 255, 0.9);
		}
	}

	@media screen (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
